<div class="page-location">
  <a class="h4 pad-r-xs font-bold">会员认证审批</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>审批事项<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">会员认证审批</a>
</div>
<div class="pad-def">
  <form #form>
    <!-- <section class=" clearfix form-horizontal form-label-7  no-t-padding no-b-padding" style="border:1px solid transparent"> -->
      <section class="panel-body group mar-b-sm" >
      <div class=" col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label  pull-left" >申请ID：</label>
          <div class="form-control-static pull-left">
            {{authId}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label  pull-left">申请时间：</label>
          <div class="form-control-static pull-left">
            {{createTime}}
          </div>
        </div>
      </div>
    </section>

    <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">客户名称：</label>
          <span class="form-control-static pull-left">{{companyName | filterNull:false}}</span>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">获客途径：</label>
          <div class="pull-left form-control-static" >
            {{guestFromDic|filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">归属渠道：</label>
          <div class="pull-left form-control-static" >
            {{appName|filterNull:false}}
          </div>
        </div>
        <div class="form-group no-b-margin">
          <label class="control-label pull-left">服务经理：</label>
          <span class="pull-left form-control-static">  {{serviceMan}}</span>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">会员类别：</label>
          <span class="form-control-static pull-left">  {{memberTypeDic | filterNull:false}}</span>
        </div>
        <!-- <div class="form-group no-b-margin">
          <label class="control-label pull-left">状态：</label>
          <span class="form-control-static pull-left">  {{statusDic | filterNull}}</span>
        </div> -->
      </div>
    </section >
    <section class="mar-b-sm form-horizontal form-label-7 group clearfix">
      <div class="col-md-6 ">
        <div class="form-group ">
          <label  class="control-label pull-left">联系人：</label>
          <div class="form-control-static pull-left">
            {{linkName | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系手机：</label>
          <div class="form-control-static pull-left">
            {{linkMobile | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">联系人职位：</label>
          <div class="form-control-static pull-left">
            {{linkJob | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">是否法人：</label>
          <div class="form-control-static pull-left">
            {{isLegalDic}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label  class="control-label pull-left">营业执照号：</label>
          <div class="form-control-static pull-left">
            {{licenceNum | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">公司类型：</label>
          <div class="form-control-static pull-left">
            {{companyTypeDic | filterNull:false}}
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">注册资金：</label>
          <div class="form-control-static pull-left">
            {{registerCapital | filterNull:false | yuanFormat:2:true}}<span *ngIf="registerCapital">万元</span>
          </div>
        </div>
        <div class="form-group">
          <label  class="control-label pull-left">成立时间：</label>
          <div class="form-control-static pull-left">
            {{foundTime | filterNull:false}}
          </div>
        </div>
        <div class="form-group clearfix">
          <label  class="control-label pull-left">公司地址：</label>
          <div class="form-control-static pull-left">
            {{companyAddress | filterNull:false}}
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper group clearfix ">
      <div class="group-title">附件</div>
      <div class="col-md-12 p-l-none">
        <div class="col-md-6">
          <table class="table m-b-none no-border" border="1">
            <tbody>
              <tr *ngIf="attch1Type">
                <td>{{attch1TypeDic}}</td>
                <!-- <td><a class="text-info" (click)="gallery.open($event,1, ['',''])">查看</a></td> -->
                <td><a class="text-info" (click)="checkAttach($event,attch1Loadid)">
                  <i class="fa fa-search" title="查看"></i>
                </a></td>
              </tr>
              <tr *ngIf="attch2Type">
                <td>{{attch2TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch2Loadid)">
                  <i class="fa fa-search" title="查看"></i>
                </a></td>
              </tr>
              <tr *ngIf="attch3Type">
                <td>{{attch3TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch3Loadid)">
                  <i class="fa fa-search" title="查看"></i>
                </a></td>
              </tr>
              <tr *ngIf="attch4Type">
                <td>{{attch4TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch4Loadid)">
                  <i class="fa fa-search" title="查看"></i>
                </a></td>
              </tr>
              <tr *ngIf="attch5Type">
                <td>{{attch5TypeDic}}</td>
                <td><a class="text-info" (click)="checkAttach($event,attch5Loadid)">
                  <i class="fa fa-search" title="查看"></i>
                </a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </section>

    <section class="wrapper group m-t form-label-7">

      <table class="table no-border">
        <tr>
          <td width="7em">
            <label class="control-label">审核人：</label>
          </td>
          <td >
            {{auditBy}}
          </td>
        </tr>
        <tr>
          <td width="7em">
            <label class="control-label">审核意见：</label>
          </td>
          <td >
            <textarea name="auditRemark"  rows="5" class="form-control" placeholder="小于200字" [(ngModel)]="auditRemark"></textarea>
          </td>
        </tr>
      </table>
    </section>

    <section class="wrapper clearfix">
      <div class="col-md-12 text-center">
        <button class="btn-def m-l btn-def-success" (click)="memberAuthApplyReply(1)">通过<i class="fa fa-check-circle-o"></i></button>
        <button class="btn-def m-l btn-def-danger" (click)="memberAuthApplyReply(-1)">拒绝<i class="fa fa-ban"></i></button>
        <a (click)="back()" class="btn-def m-l">放弃<i class="fa fa-arrow-circle-o-left"></i></a>
      </div>
    </section>
  </form>
</div>
<gallery #gallery></gallery>
