<div class="page-location">
  <a class="h4 pad-r-xs font-bold">展期贷款审批</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>审批事项<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">展期贷款审批</a>
</div>
<div class="pad-def">
  <form #form>
    <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">展期单号：</label>
          <div class="form-control-static pull-left">
            {{rolloverData.rolloverApplyId | filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">状态：</label>
          <div class="pull-left form-control-static" >
            {{rolloverData.statusName | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">创建时间：</label>
          <span class="form-control-static pull-left">
            {{rolloverData.createTime | filterNull:false | effDateFormat}}
          </span>
        </div>
      </div>
    </section >
    <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">企业名称：</label>
          <div class="form-control-static pull-left">
            {{rolloverData.companyName | filterNull:false}} ({{rolloverData.memberId|filterNull:false}})
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">保证金：</label>
          <div class="pull-left form-control-static" >
            {{rolloverData.rolloverDeposit | yuanFormat:2:true}}<span *ngIf="rolloverData.rolloverDeposit"> 元</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label m-t-xs pull-left">展期利率：</label>
          <div class="form-control-static pull-left input-group" style="max-width: 213px;">
            <input type="text" name="rolloverRate" class="form-control"  required placeholder="请输入" autocomplete="off" [(ngModel)]="rolloverRate"
                   [HTML5Validate]="[[rolloverRate==='','请输入展期利率：！']]"
              />
              <span class="input-group-addon">%</span>
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label m-t-xs pull-left">批准还款日期：</label>
          <div class="pull-left form-control-static" >
             <input type="text" name="comfirmRolloverDate" class="form-control" datePicker required placeholder="请选择" [(ngModel)]="comfirmRolloverDate" 
                   [opt-max]="maxDate" autocomplete="off"
                   [HTML5Validate]="[[comfirmRolloverDate==='','请输入批准还款日期：！']]"
              />
          </div>
        </div>
        <!-- <div class="form-group ">
          <label class="control-label pull-left">申请理由：</label>
          <div class="pull-left form-control-static" >
             {{rolloverData.remarks | filterNull:false}}
          </div>
        </div> -->
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">展期金额：</label>
          <div class="form-control-static pull-left">
            {{rolloverData.repaymentCapital | yuanFormat:2:true}}<span *ngIf="rolloverData.repaymentCapital"> 元</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label pull-left">当期利息：</label>
          <span class="form-control-static pull-left">  
            {{rolloverData.repaymentInterest | yuanFormat:2:true}}<span *ngIf="rolloverData.repaymentInterest"> 元</span>
          </span>
        </div>
        <div class="form-group">
          <label class="control-label pull-left">承诺还款日期：</label>
          <span class="form-control-static pull-left">
            {{rolloverData.rolloverDate | filterNull:false | effDateFormat}}
          </span>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">展期合同：</label>
          <div class="form-control-static pull-left">
            <div class="form-group" *ngFor="let item of contractList">
              <div class="col-md-6">
                {{item.fileName}}
              </div>
              <div class="col-md-6">
                <preview-btn [fileId]="item.fileLoadId" (imgPreview)="previewer.open($event.event,$event.url,'img')" (pdfPreview)="previewer.open($event.event,$event.url,'file')">
                  
                </preview-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">展期凭证：</label>
          <div class="form-control-static" >
            <div class="col-md-6">
              
            </div>
            <div class="col-md-6" *ngIf="rolloverData.fileLoadId">
              <preview-btn [fileId]="rolloverData.fileLoadId" (imgPreview)="previewer.open($event.event,$event.url,'img')" (pdfPreview)="previewer.open($event.event,$event.url,'file')">
                
              </preview-btn>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm p-b-none" >
      <div class="form-group form-horizontal form-label-7 clearfix">
        <div class="col-md-6 p-l-none">
          <label class="control-label pull-left">贷款单号：</label>
          <div class="form-control-static pull-left">
            {{rolloverData.borrowApplyId | filterNull:false}}
          </div>
        </div>
        <div class="col-md-6 p-l-none">
          <label class="control-label pull-left">还款期数：</label>
          <span class="form-control-static pull-left">
            {{rolloverData.currentPeriodStr | filterNull:false}}
          </span>
        </div>
      </div>
      <drop-down [show]="show">
        <div data-type="dropContent">
        <div class="form-group form-horizontal form-label-7 clearfix">
          <div class="col-md-6 p-l-none">
            <label class="control-label pull-left">贷款金额：</label>
            <div class="form-control-static pull-left" >
              {{financeData.approveAmount | filterNull:false}}<span *ngIf="financeData.approveAmount"> 元</span>
            </div>
          </div>
          <div class="col-md-6 p-l-none">
            <label class="control-label pull-left">贷款产品：</label>
            <div class="form-control-static pull-left">
              {{financeData.productName | filterNull:false}}
            </div>
          </div>
        </div>
        <div class="form-group form-horizontal form-label-7 clearfix">
          <div class="col-md-6 p-l-none">
            <label class="control-label pull-left">贷款周期：</label>
            <div class="form-control-static pull-left" >
              {{financeData.ratedCycle | filterNull:false}}
            </div>
          </div>
          <div class="col-md-6 p-l-none">
            <label class="control-label pull-left">还款方式：</label>
            <div class="form-control-static pull-left">
              {{financeData.paymentWayDic | filterNull:false}}
            </div>
          </div>
        </div>
        <div class="form-group form-horizontal form-label-7 clearfix">
          <div class="col-md-6 p-l-none">
            <label class="control-label pull-left">利率：</label>
            <div class="pull-left form-control-static" >
              {{financeData.rate | percent | filterNull:false}}
            </div>
          </div>
          <div class="col-md-6 p-l-none">
            <label class="control-label pull-left">计息方式：</label>
            <div class="form-control-static pull-left">
              {{financeData.rateTypeDic | filterNull:false}}
            </div>
          </div>
        </div>
        <div class="form-group form-horizontal form-label-7 clearfix">
          <div class="col-md-12 p-l-none">
            <label class="control-label pull-left">还款计划：</label>
            <div class="pull-left m-t-sm">
              <table class="table showL b-t">
                <thead>
                    <tr>
                        <th class="text-center">期数</th>
                        <th class="text-center">还款日</th>
                        <th class="text-center">应还本金(元)</th>
                        <th class="text-center">应还利息(元)</th>
                        <th class="text-center">状态</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of repaymentList" [class.bg-warning]="item.status==0">
                    <td class="text-center">{{'第'+item.currentPeriod+'期'}}</td>
                    <td class="text-center">{{item.repaymentDate | effDateFormat}}</td>
                    <td class="text-right">{{item.repaymentCapital | yuanFormat:2:true}}</td>
                    <td class="text-right">{{item.repaymentInterest | yuanFormat:2:true}}</td>
                    <td class="text-center">{{item.statusName}}</td>
                  </tr>
                  <tr *ngIf="!repaymentList||repaymentList.length===0">
                    <td colspan="4" class="text-disabled text-center"> 无</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </drop-down>
      <span class="dropDowm text-center" *ngIf="!down"><i class="fa fa-angle-double-down" (click)="downEvent()"></i></span>
      <span class="dropUp text-center" *ngIf="down"><i class="fa fa-angle-double-up" (click)="upEvent()"></i></span>
    </section>
    <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">一审人员：</label>
          <div class="form-control-static pull-left">
            {{rolloverData.auditOneBy | filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">一审意见：</label>
          <div class="pull-left form-control-static" >
            {{rolloverData.auditOneRemarks | filterNull:false}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">一审时间：</label>
          <span class="form-control-static pull-left">
            {{rolloverData.auditOneTime | filterNull:false | effDateFormat}}
          </span>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm" >
      <div class="col-md-12 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">二审意见：</label>
          <div class="pull-left form-control-static" >
            <textarea name="auditTwoRemarks" cols="40" rows="5" class="form-control mar-b-xs width-textarea" [(ngModel)]="auditTwoRemarks" placeholder="小于50字" maxlength="50"></textarea>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper clearfix">
      <div class="col-md-12 text-center">
        <button class="btn-def m-l btn-def-success" (click)="submitConfirm(3)">通过<i class="fa fa-check-circle-o"></i></button>
        <button class="btn-def m-l btn-def-danger" (click)="submitConfirm(-3)">拒绝<i class="fa fa-ban"></i></button>
        <a (click)="back()" class="btn-def m-l">放弃<i class="fa fa-arrow-circle-o-left"></i></a>
      </div>
    </section>
  </form>
</div>
<previewer #previewer></previewer> 
