<div class="page-location">
  <a class="h4 pad-r-xs font-bold">用款审批</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>审批事项<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">用款审批</a>
</div>
<div class="wrapper">
  <form #form>
    <!-- <section class=" clearfix form-horizontal form-label-7  no-t-padding no-b-padding" style="border:1px solid transparent"> -->
      <section class="panel-body group mar-b-sm">
      <div class=" col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label  pull-left" >贷款单号：</label>
          <div class="form-control-static pull-left">
            {{borrowApplyId}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label  pull-left" >状态：</label>
          <div class="form-control-static pull-left">
            {{statusName}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label  pull-left">申请时间：</label>
          <div class="form-control-static pull-left">
            {{createTime}}
          </div>
        </div>
      </div>
    </section>

    <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">企业名称：</label>
          <div class="form-control-static pull-left">
            {{companyName|filterNull:false}} <span *ngIf="memberId">({{memberId}})</span>
            <span *ngIf="memberId">
              <!-- <a class="text-info" [routerLink]="['/memberM/memberManage/detail',memberId]">详情</a> -->
              <!-- <a class="text-info" (click)="goToDetail()">详情</a> -->
            </span>
          </div>
        </div>
        
        <div class="form-group ">
          <label class="control-label pull-left">申请金额：</label>
          <div class="pull-left form-control-static" >
            {{applyAmount|filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">贷款周期：</label>
          <div class="pull-left form-control-static" >
            {{borrowHowlong|filterNull:false}}
          </div>
        </div>
        <!-- <div class="form-group ">
          <label class="control-label pull-left">利率：</label>
          <div class="pull-left form-control-static" >
            {{rate|filterNull:false}}
          </div>
        </div> -->
        <div class="form-group form-inline">
          <label class="control-label pull-left m-t-xs">利率：</label>
          <div class="form-control-static pull-left">
            <input type="text" class="form-control" name="rate" [(ngModel)]="rate">
            
          </div>
        </div> 
        <div class="form-group form-inline">
          <label class="control-label pull-left m-t-xs">最终确认金额：</label>
          <div class="form-control-static pull-left">
            <input type="text" class="form-control" name="approveAmount" [(ngModel)]="approveAmount">
            <span>元</span>
          </div>
        </div>   
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">企业ID：</label>
          <div class="pull-left form-control-static" >
            {{memberId|filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">贷款产品：</label>
          <div class="pull-left form-control-static" >
            {{productName|filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">还款方式：</label>
          <div class="pull-left form-control-static" >
            {{repaymentWay|filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">计息方式：</label>
          <div class="pull-left form-control-static" >
            {{rateType|filterNull:false}}
          </div>
        </div>
      </div>
    </section >
    <section class="panel-body group mar-b-sm" *ngIf="proveDataList[0]">
      
        <div class="col-md-6 form-horizontal form-label-7" *ngFor="let item of proveDataList">
          <div class="form-group ">
            <label class="control-label pull-left">{{item.fileTypeName}}：</label>
            <div class="form-control-static pull-left">
              <preview-or-download [fileId]="item.fileLoadId" (tranferFileType)="tranferFileType($event,item.fileLoadId)">
                <a class="fa fa-search text-info m-r-md" (click)="show($event,item.fileLoadId)" title="查看"></a>
                <a class="fa fa-download text-info" (click)="download(item.fileLoadId)" title="下载"></a>
              </preview-or-download>
            </div>
          </div>  
        </div>
        
      
        
    </section >
    <!-- <section class="panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group form-inline">
          <label class="control-label pull-left m-t-xs">最终确认金额：</label>
          <div class="form-control-static pull-left">
            <input type="text" class="form-control" name="approveAmount" [(ngModel)]="approveAmount">
            <span>元</span>
          </div>
        </div>  
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group form-inline">
          <label class="control-label pull-left m-t-xs">借款利率：</label>
          <div class="form-control-static pull-left">
            <input type="text" class="form-control" name="rate" [(ngModel)]="rate">
            
          </div>
        </div>  
      </div>
    </section > -->
    <section class="wrapper panel-body group m-t form-label-7 mar-b-sm">

      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">一审人员：</label>
          <div class="form-control-static pull-left">
            {{firstCheckPeople | filterNull}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">一审意见：</label>
          <div class="form-control-static pull-left">
            {{firstCheckOpinion | filterNull}}
          </div>
        </div>    
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">一审时间：</label>
          <div class="form-control-static pull-left">
            {{firstCheckTime | filterNull}}
          </div>
        </div>  
      </div>
    </section>
    <section class="wrapper panel-body group mar-b-sm" >
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">二审意见：</label>
          <div class="form-control-static pull-left">
            <textarea name="secondCheckOpinion" class="form-control" cols="50" rows="5" [(ngModel)]="secondCheckOpinion"></textarea>
            
          </div>
        </div>  
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
      </div>
    </section >
    <section class="wrapper clearfix">
      <div class="col-md-12 text-center">
        <button class="btn-def m-l btn-def-success" (click)="submitConfirm(3)">通过<i class="fa fa-check-circle-o"></i></button>
        <button class="btn-def m-l btn-def-danger" (click)="submitConfirm(-3)">拒绝<i class="fa fa-ban"></i></button>
        <a (click)="back()" class="btn-def m-l">放弃<i class="fa fa-arrow-circle-o-left"></i></a>
      </div>

    </section>
  </form>
</div>
<previewer></previewer>
