<div class="page-location">
  <a class="h4 pad-r-xs font-bold">产品授信详情</a>
  <a class="page-location-item"><i class="page-location-icon glyphicon glyphicon-briefcase"></i>审批事项<i class="pad-l-min fa fa-angle-right"></i></a>
  <a class="page-location-item active">产品授信详情</a>
</div>
<div class="wrapper">
  <form #form>
    <!-- <section class=" clearfix form-horizontal form-label-7  no-t-padding no-b-padding" style="border:1px solid transparent"> -->
      <section class="panel-body group mar-b-sm">
      <div class=" col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label  pull-left">申请ID：</label>
          <div class="form-control-static pull-left">
            {{creditAuthId}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label  pull-left">申请时间：</label>
          <div class="form-control-static pull-left">
            {{createTime}}
          </div>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">会员名称：</label>
          <div class="form-control-static pull-left">
            {{memberName|filterNull:false}} <span *ngIf="memberId">({{memberId}})</span>
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">申请产品：</label>
          <div class="pull-left form-control-static">
            {{productName|filterNull:false}}
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">服务经理：</label>
          <div class="pull-left form-control-static">
            {{serviceMan|filterNull:false}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group no-b-margin">
          <label class="control-label pull-left">状态：</label>
          <span class="form-control-static pull-left">  {{statusDic | filterNull:false}}</span>
        </div>
        <div class="form-group no-b-margin">
          <label class="control-label pull-left">产品类别：</label>
          <span class="form-control-static pull-left">  {{productTypeName | filterNull:false}}</span>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">申请额度：</label>
          <div class="form-control-static pull-left">
            {{addCreditValue| filterNull:false | yuanFormat:2:true}}<span *ngIf="addCreditValue">元</span>
          </div>
        </div>
        <div class="form-group ">
          <label class="control-label pull-left">有效期：</label>
          <div class="pull-left form-control-static">
            {{expiryDateBegin}} 至 {{expiryDateEnd}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">原授信额度：</label>
          <div class="form-control-static pull-left">
            {{oldCreditValue | filterNull:false | yuanFormat:2:true}}<span *ngIf="oldCreditValue">元</span></div>
          </div>
        <div class="form-group no-b-margin">
          <label class="control-label pull-left">申请原因：</label>
          <span class="form-control-static pull-left col-md-9 p-l-none word-wrap">  {{authRemark | filterNull:false}}</span>
        </div>
      </div>
    </section>
    <section class="panel-body group mar-b-sm" *ngIf="statusDic!='认证中'">
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group ">
          <label class="control-label pull-left">审批员：</label>
          <span class="form-control-static pull-left">{{auditBy | filterNull:false}}</span>
        </div>
      </div>
      <div class="col-md-6 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">审批时间：</label>
          <span class="form-control-static pull-left">  {{auditDate | filterNull:false}}</span>
        </div>
      </div>
      <div class="col-md-12 form-horizontal form-label-7">
        <div class="form-group">
          <label class="control-label pull-left">审批意见：</label>
          <span class="form-control-static pull-left">  {{auditRemark | filterNull:false}}</span>
        </div>
      </div>
    </section>
    <section class="wrapper clearfix">
      <div class="col-md-12 text-center">
        <button class="btn-def" (click)="back()">返回<i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
    </section>
  </form>
</div>
